set -e
DIR=`pwd`

PATH_add $DIR/.direnv/bin

cd $DIR
if [ -f '.env' ]; then
dotenv
fi

init() {
  if [ ! -d $DIR/$1/node_modules ]; then
    if ! [ -x "$(command -v pnpm)" ]; then
      npm install -g pnpm
    fi
    cd $DIR/$1
    pnpm i
    cd $DIR
  fi
}

init .
