DIR=$(pwd)

cd $DIR

bin=$DIR/.direnv/bin
PATH_add $bin
bun_i .

clone(){
if [ ! -d "$1" ]; then
GIT=$(dirname $(git remote -v |  head -1 | awk '{print $2}'))
git clone --depth=1 $GIT/$1.git
fi
}

clone dist
clone conf
